<h1 class="center">About Page!!!</h1>
<div class="container" ng-class="">
    <form role="form">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <input type="file" accept="image/*" ng-model="ac.image">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control" type="button" accept="image/*"
                           ng-model="ac.image"ng-click="ac.test()" value="CLICK ME">
                </div>
            </div>
        </div>
    </form>
</div>
<section style="width:100%; height: 300px">
    <div class="container">
        <h1 style="text-align: center; text-transform: uppercase">results</h1>
        <p>{{ac.image}}</p>
        <img src="{{ac.image}}" style="height: 200px; width: 200px">
    </div>
</section>